.topbar {
    display: flex;
    justify-content: space-between;
    /* padding: 2px; */
    /* margin-right: 20px; */
  
}

/* .topbar-right {} */

.topbar-right__input-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 412px;
    height: 42px;
    padding: 5px;
    border-radius: 15px;
}

.topbar-input-svg {
    width: 20px;
    height: 20px;
    background-color: inherit;

}

.topbar-right__input {
    border: none;
    background-color: inherit;
    outline-style: none;
    width: 100%;
    height: 100%;

}

.topbar-left__notification {
    background-color: #ffffff;
    display: flex;
    width: 42px;
    height: 42px;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 6px;
}
.topbar-left{
    display: flex;
    gap: 10px;
}
.notification-svg {
    background-color: inherit;
}

.topbar-left__profile {
    width: 182px;
    height: 42px;
    background-color: #ffffff;
    border-radius: 15px;
    align-items: center;
    padding-left: 5px;
}
.profile-img{
    width: 30px;
    height: 30px;
    background-color: inherit;
}
span{
    background-color: inherit;
    margin-left: 3px;
}

.support-img{
    width: 20px;
    height: 20px;
}