*{
  box-sizing: border-box;
}


/* وارد کردن فونت از CDN */
@import url('https://v1.fontapi.ir/css/Vazir')

/* یا فونت محلی */
@font-face {
  font-family: 'Vazir';
  src: url('./fonts/Vazir.woff2') format('woff2'),
       url('./fonts/Vazir.woff') format('woff'),
       url('./fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* اعمال فونت روی کل پروژه */
* {
  font-family: 'Vazir', sans-serif;
}

body {
  font-family: 'Vazir', sans-serif;
  direction: rtl;
  text-align: right;
}