.workload{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    padding: 5px;
}

.workload__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
}

.woekload-user {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 ستون با عرض برابر */
  gap: 15px; /* فاصله بین کامپوننت‌ها */
  justify-items: center;
  margin: 10px 0 10px 0;
}


/* در فایل Workload.css */
.line--chart {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slice-information-color{
  width: 10px;
  height: 10px;
  background-color: red;
}

.circle--chart__information{
    background-color: rgba(63, 140, 255, 0.1);
    width: 200px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin: auto;
    
}

