.workloadUser {
    width: 175px;
    height: 180px;
    background-color: rgba(63, 140, 255, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.workloadUser__img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.WorkloadUser__name {
        background-color: initial;
        margin-top: 5px;
        color: #0A1629;
        font-size: 16px;
        font-weight: bold;
}

.WorkloadUser__skill {
        background-color: initial;
        font-size: 14px;
        color: rgba(10, 22, 41, 0.5);
}

.WorkloadUser__level {
       background-color: initial;
       margin-top: 7px;
       font-size: 12px;
       color: #7D8592;
       border: solid;
       border-radius: 2px;
       
       
}

.WorkloadUser__level-p{
   margin: 2px;
}