.event {
    border-right: solid;
    border-right-width: medium;
    border-right-color: rgb(255, 0, 76);
    padding: 5px;
    margin-top: 5px;
}
.event:hover{
    border-right-color: rgb(255, 0, 76,0.5);
    transition: 30ms;
}

.event__title {
    font-size: 16px;
    font-weight: bold;
}

.event__time {
    font-size: 14px;
    color: #91929E;
}

.event__time--clock {}

.event__time--logo {
    background-color: #F4F9FD;
    border-radius: 2px;
    width: 63px;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
}